
TowerGame/Library/

TowerGame/Logs/

TowerGame/.vs/TowerGame/v16/.suo

TowerGame/obj/Debug/

TowerGame/Temp/

TowerGame/UIElementsSchema/

TowerGame/ProjectSettings/ProjectVersion.txt

TowerGame/Unity.CollabProxy.Editor.csproj

TowerGame/Assembly-CSharp-Editor.csproj

TowerGame/Assembly-CSharp.csproj

TowerGame/Assembly-CSharp.Player.csproj

TowerGame/TowerGame.sln
